<div class="meyasubako">
  <h2 class="meyasubako__heading"><%= I18n.t('meyasubako.heading') %></h2>

  <div class="meyasubako__container">
    <div class="meyasubako__message__container">
      <p class="meyasubako__message meyasubako__message--sending">
        <%= I18n.t('meyasubako.message.sending') %>
      </p>

      <p class="meyasubako__message meyasubako__message--success">
        <%= I18n.t('meyasubako.message.success') %>
      </p>
    </div>

    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

    <textarea id="meyasubako__content" class="meyasubako__content" placeholder="<%= I18n.t('meyasubako.content') %>"></textarea>

    <input type="button" class="meyasubako__submit" value="<%= I18n.t('meyasubako.submit') %>">
  </div>

  <script>

  new Meyasubako();

  </script>
</div>
